<div class="pagination">
    <% if (page > 1) { %>
    <a href="/<%=title%>/?page=<%=page-1%>">Before</a>
    <% } %>

    <% for (let i = iterator; i <= endingLink; i++) { %>
        <% if (i === page) { %>
        <a class="selectedLink" href="/<%=title%>/?page=<%=i%>"><%= i %></a>
        <% } else { %>
        <a href="/<%=title%>/?page=<%=i%>"><%=i%></a>
        <% } %>
    <% } %>

    <% if (page < numOfPages) { %>
    <a href="/<%=title%>/?page=<%=page+1%>">After</a>
    <% } %>
</div>
