<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../includes/link.ejs') %>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/user/index.css"/>
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/sidebar.css"/>
    <link rel="stylesheet" href="/css/user/add-user.css"/>
    <title>Add User</title>
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <div style="display: flex; flex-direction: row;padding-top: 10px;">
        <%- include('../includes/sideMenu.ejs') %>

        <% if(message.success) { %>
            <%- include('../includes/alerts/success.ejs') %>
        <% } else if(message.error) {%>
            <%- include('../includes/alerts/danger.ejs') %>
        <% } %>
    </div>
    <main class="primaryContainer" >

        <h2 class="headTitle">Add User</h2>

<!--        <form action="/users/add" method="post" class="formContainer">-->
        <form action="<%= user ? "/users/update" : "/users/add" %>" method="post" class="formContainer">

            <% if(user){ %>
            <input type="text" id="id" name="id" class="textInput" hidden="hidden" value="<%=user._id%>"><br>

            <input type="text" id="page" name="page" class="textInput" hidden="hidden" value="<%=page%>"><br>
            <% } %>

            <!-- Username -->
            <label for="username" class="label">Username:</label>
            <input type="text" id="username" name="username" class="textInput"  value="<%= user ? user.username : '' %>" required><br>

            <!-- Password -->
            <label for="password" class="label">Password:</label>
            <input type="password" id="password" name="password" class="textInput" value="<%= user ? user.password : '' %>" required><br>

            <!-- Role Dropdown -->
            <label for="role" class="label">Role:</label>
            <select id="role" name="role" class="dropdown" required>
                <option value="Admin" <%= user && user.role === 'Admin' ? 'selected' : '' %>>Admin</option>
                <option value="User" <%= user && user.role === 'User' ? 'selected' : '' %>>User</option>
                <!-- Add more role options as needed -->
            </select><br>

            <!-- Active Dropdown -->
            <label for="active" class="label">Active:</label>
            <select id="active" name="active" class="dropdown" required>
                <option value="1" <%= user && user.active === 1 ? 'selected' : '' %>>Yes</option>
                <option value="0" <%= user && user.active === 0 ? 'selected' : '' %>>No</option>
                <!-- Add more options as needed -->
            </select><br>

            <!-- Submit Button -->
            <div style="display: flex; flex-direction: row;">
                <input type="submit" value="Submit" class="submitButton">
                <% if(user) { %>
                    <a type="submit" class="submitButton" href="/users/?page=<%=page%>" style="background-color: red;text-decoration: none">X</a>
                <% } %>
            </div>
        </form>


    </main>
    <%- include('../includes/footer.ejs')%>
    <%- include('../includes/scriptBottom.ejs') %>
</body>
</html>
